<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.duplicati</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/Duplicati.app/Contents/MacOS/duplicati-server</string>
        <string>--webservice-port=8200</string>
        <string>--log-file=/Users/asterr/Library/Logs/duplicati.log</string>
        <string></string>
        <string>&amp;</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
